<div id="img-container">
    <img src="/public/images/js.jpg" alt="">
    <
</div>
<div class="greet {{hidegreet}}">Logged in as: <span class="greet-name">{{firstname}}</span></div>
<a class="logout {{showLogout}}" href="/logout"> <i class="fa fa-sign-out"></i> LOG OUT</a>
<a class="back-btn {{showBack}}" href="/thankyou"><p> <i class="fa fa-arrow-left"></i> GO BACK</p></a>
<iframe id="player" name="player" src="https://open.spotify.com/embed?uri=spotify:album:1IwkzRPdHU0DSak24rI8Ig" frameborder="0" allowtransparency="true"></iframe>
<div id="player-button" name="playerbutton">PLAYER<br><i class="fa fa-spotify"></i> </div>
