<div id="img-container">
    <img src="/public/images/js.jpg" alt="">
</div>
<a class="logout {{showLogout}}" href="/logout"> <i class="fa fa-sign-out"></i> LOG OUT</a>
<a class="back-btn {{showBack}}" href="/thankyou"><p> <i class="fa fa-arrow-left"></i> GO BACK</p></a>
