<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Let's bring Jonah Smith</title>
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Special+Elite" rel="stylesheet">
        <link rel="stylesheet" href="/public/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        {{>head}}

        {{{body}}}

        {{>foot}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    </body>
</html>
