<p>Please enter your log in details</p>
<form id="login-form" method="POST">
    <div id="login-input">
        <input class="input" name="email" placeholder="Enter email">
        <input class="input" name="password" placeholder="Enter password">
        <button id="signup-btn" type="submit" name="button">LOG IN!</button>
    </div>
</form>
<p>Not yet a member? Then <a href="/register">sign up!</a></p>
