<p id="profile-intro">We are glad you decided to join! Please tell us just a tad more about you.<span id="optional">All fields are <span class="hl-elite">optional  :D</span></span></p>

<form id="profile-form" action="/profile_new" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input class="profile-input" name="age" placeholder="age">
    <input class="profile-input" name="city" placeholder="city">
    <input class="profile-input" name="homepage" placeholder="homepage">
    <button id="profile-button" type="submit" name="button">CONTINUE</button>
</form>
