<p id="register-text">Do you know Jonah Smith?<br>We want him to tour Europe.<br> Sign our petition to encorage his record label to bring him over!</p>
<div id={{reminderId}}>{{reminder}}</div>

<form id="register-form" method="POST" action="/register_new">
    <div id="register-input-container">
        <input type="hidden" name="_csrf" value={{csrfToken}}>
        <input class="register-input input-left" name="firstname" placeholder="first name">
        <input class="register-input" name="lastname" placeholder="last name">
        <input class="register-input input-left" name="email" placeholder="email">
        <input class="register-input" type="password" name="password" placeholder="password">
    </div>
    <button id="register-btn" type="submit" name="button">SIGN UP</button>
</form>
<p id="already-logged">Did you already sign up? <a href="/login"> Log in</a></p>
