<p id="register-text">Ever heard Jonah Smith? We want him to tour Europe. Sign out petition to encorage his record label to bring him over!</p>
<div id={{reminderId}}>{{reminder}}</div>

<form id="register-form" method="POST">
    <div id="register-input">
        <input class="input" name="firstname" placeholder="Enter first name">
        <input class="input" name="lastname" placeholder="Enter last name">
        <input class="input" name="email" placeholder="Enter email">
        <input class="input" name="password" placeholder="Enter password">
        <button id="signup-btn" type="submit" name="button">SIGN UP!</button>
    </div>
</form>
<p id="already-logged">Did you already sign up? Then just <a href="/login">log in!</a></p>
