<div id="petition-text">Because he is a <span class="hl-elite">wonderful musician</span>.<br> Because he is a <span class="hl-elite">great guy</span>. Because us Europeans deserve to enjoy him live too.<br><br><span class="hl-elite">Sign</span> this petition to demand that   <span class="hl-sketch">Jonah Smith</span> comes to<span class="hl-elite"> tour in Europe!</span></div>
<form id="signature-form" method="POST">
    <input id="signature" type="hidden" name="signature">
    <p id="signhere">Sign here:</p>
    <div id="sign-field">
        <canvas id="canvas"></canvas>
        <button id="btn" type="submit">send!</button>
    </div>
</form>
