<p id="thankyou"><span class="hl-elite">Thank you!</span> Here is your beautiful signature fellow music lover!</p>
<br>
<div id="signature-container">
<img id="signature-pic" src="{{signatureUrl}}" alt="">
</div>
<br>
<div id="thankyou-link-container">
    <p>Wanna know who else has signed this petition?</p>
    <a id="thankyou-link" href="/userlist">Just click <span id="herelink">here!</span></a>
</div>
