<p id="thankyou"><span class="hl-elite">Thank you!</span> Here is your beautiful signature fellow music lover!</p>
<br>
<div id="signature-container">
<img id="signature-pic" src="{{signatureUrl}}">
</div>
<br>
<div id="thankyou-link-container">
    <p>Another {{amountSignatures}} people signed this petition. Wanna know who they are?</p>
    <a id="thankyou-link" href="/signers">Just click <span id="herelink">here!</span></a>
</div>
