<p id="thankyou-intro">
    <span class="hl-elite">Thank you</span>
    for your beautiful signature!
</p>

<img id="signature-pic" src="{{signatureUrl}}">

<div id="thankyou-menu">
    <p>What to do until Jonah arrives...</p>
    <ul>
        <li>
            <a href="/signers" class="herelink hl-elite">CHECK THE LIST OF SIGNERS</a>
            <p>: Already
                <span class="hl-elite">{{amountSignatures}}</span>
                people signed the petition!
            </p>
        </li>
        <li>
            <a href="/profile/update" class="herelink">UPDATE YOUR PROFILE</a>
        </li>
        <li>
            <a href="/delete_signature" class="herelink">DELETE YOUR SIGNATURE</a>
            :(
        </li>
    </ul>
</div>
