<p id="thankyou"><span class="hl-elite">Thank you!</span> for your beautiful signature.</p>
<br>
<div id="signature-container">
<img id="signature-pic" src="{{signatureUrl}}">
</div>
<br>
<div id="thankyou-link-container">
    <p>Another {{amountSignatures}} people signed this petition. Wanna know who they are?</p>
    <a id="thankyou-link" href="/signers">Just click <span id="herelink">here!</span></a>
</div>
<p>Click <a id="profile-update-link" href="/profile/update">here</a> to Update my peofile info</p>
<p>If you want to delete your signature, then click <a href="/delete_signature">here</a> </p>
