<p id='listhead'>Here is a <span class="hl-elite">list of all people</span> who want to see Jonah Smith in Europe:</p>
<div class='list'>
    {{#each users}}
        <p>{{this.firstname}} {{this.lastname}}</p>
    {{/each}}
</div>
