/* ::::: MAIN LAYOUT AND HIGHLIGHTS ::::: */

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f0e8;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f4f7f0' fill-opacity='0.97' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    display: grid;
    grid-template-columns: 3fr 1fr 7fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr;
    border-bottom: 2px solid #7b3d15;
}

#img-container {
    grid-column: 1/2;
    grid-row: 1/7;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    box-shadow: 2px 0px 1px #888888;

}

img{
    height: 100%;
    border-right: 2px solid #7b3d15;
}

.greet {
    grid-row: 1 / 2,auto;
    grid-column: 2 / 4;
    font-family: 'Cabin Sketch', cursive;
    font-size: 15px;
    margin-left: 5px;
}

.greet-name{
    color: #7b3d15;
}

.hide-greet {
    display: none;
}

#player {
    position: absolute;
    width: 25%;
    height: 100%;
    transition-duration: 0.5s;
    transition-property: transform;
    transform: translateX(-100%);
}

.showPlayer#player {
    transform: translateX(0%);
}

#player-button {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
    height: 30%;
    width: 80%;
    background-color: #9F7F75;
    font-family: 'Cabin Sketch', cursive;
    color: #F4F7F0;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 3px 3px 1px #888888;
    text-align: center;
    margin-top: 80%;
    margin-left: 6%;
}


#foot {
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#foot p {
    margin: 0;
    padding: 0;
    font-family: 'Special Elite', cursive;
    font-size: 10px;
}

.hl-elite {
    background-color: black;
    color: #f4f0e8;
    text-decoration: none;
    box-shadow: 2px 2px 1px #888888;
}

.hl-sketch {
    background-color: #7b3d15;
    color: #fbf0e8;
    font-family: 'Cabin Sketch', cursive;
    font-size: 43px;
    font-weight: bold;
    box-shadow: 2px 2px 1px #888888;

}

.input {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}

/* ::::: REGISTER ::::: */


#register-intro {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-family: 'Special Elite', cursive;
    font-size: 37px;
    text-align: center;
    margin: 0;
    padding: 0;
}

#register-form {
    grid-column: 3 / 4;
    grid-row: 3 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#register-form p{
    font-family: 'Special Elite', cursive;
    font-size: 25px;
    padding-left: 15px;
}

#register-input-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.register-input {
    height: 48%;
    width: 45%;
    font-family: 'Special Elite', cursive;
    color: #7b3d15;
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    margin-bottom: 2px;
    outline-color: #D3852D;
}

.left-input-element {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 2px;
}

#register-btn {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    height: 10%;
    width: 20%;
    align-self: center;
    background-color: #D3852D;
    font-family: 'Cabin Sketch', cursive;
    color: #F4F7F0;
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 3px 3px 1px #888888;

}

#already-logged {
    grid-row: 6 / 7;
    grid-column: 3 / 4;
    font-family: 'Special Elite', cursive;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#already-logged a {
    text-decoration: none;
    padding: 6px;
    margin-left: 10px;
    cursor: pointer;
}

.inputReminder::placeholder {
    color: red;
}

#warning-id {
    grid-row: 5/6;
    grid-column: 3/4;
    color: red;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    margin-top: 120px;
}


/* ::::: LOG IN ::::: */

#failed-login {
    grid-row: 4/7;
    grid-column: 3/4;
    color: red;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    margin-top: 80px;
    text-align:center;
}

#login-intro{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
}

#login-form {
    grid-row: 3 / 5;
    grid-column: 3 /4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#login-form input {
    width: 40%;
    height: 20%;
    text-align: center;
    margin-bottom: 10px;
    outline-color: #D3852D;
}

#signup-btn {
    height: 15%;
    width: 22%;
    background-color: #D3852D;
    font-family: 'Cabin Sketch', cursive;
    color: #F4F7F0;
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 3px 3px 1px #888888;

}

#not-a-member {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    font-family: 'Special Elite', cursive;
    color: black;
    font-size: 20px;
    text-align: center;

}

/* :::: SIGNATURE :::: */


#signature-intro {
    grid-column: 3/4;
    grid-row: 2/3;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: center;
}

#signature-form {
    grid-column: 3/4;
    grid-row: 3/5;
    text-align: center;
}

#canvas{
    width: 700px;
    height: 200px;
    border: 1px solid #7b3d15;
    background-color: white;
}

#signature-btn {
    height: 15%;
    width: 22%;
    background-color: #D3852D;
    font-family: 'Cabin Sketch', cursive;
    color: #F4F7F0;
    border: none;
    font-size: 25px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    box-shadow: 3px 3px 1px #888888;

}

/* :::: PROFILE :::: */

#profile-intro {
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#optional {
    margin-top: 15px;
    font-size: 20px;
    padding-left: 15px;
}

#profile-form {
    grid-row: 3 / 5;
    grid-column: 3 /4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-top: 15px;
}

#profile-form input {
    width: 40%;
    height: 20%;
    text-align: center;
    margin-bottom: 10px;
    outline-color: #D3852D;
    margin-bottom: 25px;
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    color: #7b3d15;
}

#profile-button {
    height: 15%;
    width: 15%;
    background-color: #D3852D;
    font-family: 'Cabin Sketch', cursive;
    color: #F4F7F0;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 3px 3px 1px #888888;
    padding-top: 6px;
    color:
}
/* :::: THANKYOU :::: */

#thankyou-intro {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin-top: 60px;
}

#signature-pic {
    margin-left: 10%;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    height: 100%;
    width: 80%;
    border: 1px dotted #7b3d15;
    background-color: #f4f7f0;
}

#thankyou-menu {
    grid-column: 3 / 4;
    grid-row: 4 / 7;
    margin-top: 50px;
    font-family: 'Special Elite', cursive;
    font-size: 25px;
    line-height: 60px;

}

#thankyou-menu ul {
    list-style-type: none;
}

#thankyou-menu ul li:nth-child(1) p {
    font-size: 20px;
    display: inline;
}

#thankyou-menu ul li:nth-child(1) {
    display: inline;
}

.herelink{
    color: #fbf0e8;
    text-decoration: none;
    background-color: #7b3d15;
    box-shadow: 2px 2px 1px #888888;
}


/* :::: PROFILE UPDATE :::: */

#profile-update-intro {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    text-align: center;
}

#profile-update-form {
    grid-column: 3 / 4;
    grid-row: 2 / 7;
    text-align: center;
    margin-top: 103px;
}

.profile-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 32%;
}

#profile-update-form p {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #D3852D;
    margin-bottom: 5px;
    margin-left: 10px;
}

#profile-update-form input {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    outline-color: #D3852D;
    height: 32px;
    width: 50%;
    padding-left: 10px;
    text-align: center;
    color: #7b3d15;
}

#profile-update-form button {
    height: 5%;
    width: 10%;
    background-color: #D3852D;
    font-family: 'Cabin Sketch', cursive;
    color: #F4F7F0;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 3px 3px 1px #888888;
    padding-top: 6px;
}

/* :::: SIGNERS :::: */

#list-intro {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    font-size: 30px;
    font-family: 'Special Elite', cursive;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    line-height: 40px;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-row: 3 / 7;
    grid-column: 3 / 4;
    font-size: 20px;
    font-family: 'Special Elite', cursive;
    text-align: center;
}

.city-list {
    text-decoration: none;
    color: #7b3d15;
}

#signers-city {
    background-color: #7b3d15;
    color: #fbf0e8;
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 2px 2px 1px #888888;


}

.logout {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    background-color: #D3852D;
    display: none;
    border-bottom-left-radius: 20px;
    text-align: center;
    padding-top: 10px;
    box-shadow: 3px 3px 1px #888888;
    font-size: 20px;
    text-decoration: none;
    color: #F7F0E5;
    font-family: 'Cabin Sketch', cursive;
    z-index: 1;
    height: 30px;
}


.back-btn {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
    background-color: #E3B179;
    display: none;
    text-align: center;
    border-bottom-left-radius: 20px;
    box-shadow: 3px 3px 1px #888888;
    height: 80px;
    width: 90%;
    margin-left: 10%;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Cabin Sketch', cursive;
}

.back-btn p {
    margin-top: 50px;
}
.show {
    display: block;
}

/*
FONTS:
font-family: 'Cabin Sketch', cursive; //primary
font-family: 'Special Elite', cursive; //secondary

COLORS:
light brown #F3B855;
cream       #F4F7F0;
grey        #9F7F75;
camel       #D3852D;
dark brown  #7B3D15;
bg white    #F7F0E5;
*/
